
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap')

:root {

}

body {
    
}

.property {
    background-color: grey;
    width: 16.5em;
    padding: 0em;
}

.howmany {
  
  font-weight: 900;
}
.rooms {
    list-style-type: none;
}
.aa {
    background-color: white;
    text-align: center;
    
    
}
.a {
    background-color:lightgreen;
    text-align: center;
    font-size: 2em;
    
    
}
.b {
    background-color: lightblue;
    text-align: center;
    
}
.c {
    background-color: plum;
    text-align: center;
    
}
