@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
body {
    background-color: white;
    font-family: 300 normal 'roboto', Arial, Helvetica, sans-serif
}

.property {
    background-color: white;
    width: 24em;
    box-shadow: 0 0 1em grey;
    margin: 1em;
    border-radius: 0.5em;
}
.img-fluid {
    max-width: 100%;
    display: block;
    border-radius: 0.5em;
}

.hr-bottom {
    border-bottom: 1px solid lightgrey;
}

.overview {
    padding: 0em 1em;
    overflow: hidden;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin: 1em 0;
}
.details li {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1em 0;
}
.details li:last-child::after{
    content: none;
}

.price {
    font-size: 2em;
    margin: 0;
    margin: 0.5em 0;
}
.house-number {
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    margin: 1em 0;
}
.rooms {
    padding: 0 1em;
}
.roomlist {
    margin: 1em 0;
}
.roomlist li {
    margin: 0.5em 0;
}
.room-icon {
    width: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
}
.contact {
    padding: 0 1em;
    overflow: hidden;
}
.contact h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.realtor {
    font-style: normal;
    margin: 1em 0;
    
}
.relator h3 {
    margin: 0.5em 0;

}

